$mainColor: #15023a;
$themeColor: rgb(20, 147, 221);

$width_mobile: 768px;
$width_small_computer_screen: 1444px;

@mixin mobile {
    @media (max-width: #{$width_mobile}){
        @content
    }
}

@mixin small_screen {
    @media (max-width: #{$width_small_computer_screen}){
        @content
    }
}



// main chosen colour is light blue: rgb(20, 147, 221)
// Other strong variation is fresh green: rgb(55, 224, 92)
// Lastly, another variation to consider may be the color crimson